/* ##### CSS file for Pokemon card background color ##### */

.bg-normal {
    background-color: #7574E5;
}


.bg-fire {
    background-color: #B8561C;
}


.bg-water {
    background-color: #3F64B3;
}


.bg-electric {
    background-color: #BFA01D;
}


.bg-grass {
    background-color: #558C33;
}


.bg-ice {
    background-color: #61A3A0;
}


.bg-fighting {
    background-color: #8F221E;
}


.bg-poison {
    background-color: #702A6E;
}


.bg-ground {
    background-color: #A68A44;
}


.bg-flying {
    background-color: #7862BF;
}


.bg-psychic {
    background-color: #BF3660;
}


.bg-bug {
    background-color: #768511;
}


.bg-rock {
    background-color: #857524;
}


.bg-ghost {
    background-color: #49393F;
}


.bg-dragon {
    background-color: #4E22B8;
}


.bg-dark {
    background-color: #403228;
}


.bg-steel {
    background-color: #7D7D93;
}


.bg-fairy {
    background-color: #A35C80;
}