/* ##### CSS file for large Pokemon card in dialog window ##### */

/* Dialog window */
.dialog-card-large {
    background-color: #11141A;

    color: #F5F6F8;

    border: none;
    border-radius: 20px;

    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);

    width: 90%;
    max-height: 90vh;
    padding: 0;
}


.dialog-card-large::backdrop {
    /* Original bisher: */
    /* background-color: rgba(10, 12, 15, 0.4);
    backdrop-filter: blur(2px); */

    /* Alternative: */
    /* background-color: rgba(0, 0, 0, 0.7); */

    background-color: rgba(17, 20, 26, 0.7);
    backdrop-filter: blur(4px);
}


.dialog-wrapper {
    display: flex;
    flex-direction: column;

    /* Original bisher: */
    /* background-color: #11141A; */

    /* Beispiel: */
    background-color: #558C33;

    max-height: 90vh;
}


/* Dialog header */

.dialog-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    /* Original bisher: */
    /* background-color: #1A1D24; */

    /* Beispiel: */
    background-color: #558C33;

    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

    padding: 16px;
}


.dialog-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    margin-bottom: 8px;
}


.dialog-header-id {
    font-size: 1.1rem;
    font-weight: 700;
}


.dialog-header-close-button {
    /* Original bisher: */
    /* background: #242933; */

    /* Beispiel: */
    background-color: #558C33;

    color: #F5F6F8;
    font-size: 1.2rem;

    border: none;
    border-radius: 50%;

    transition: all 0.3s ease;

    cursor: pointer;

    width: 35px;
    height: 35px;
}


.dialog-header-close-button:hover {
    /* Original bisher: */
    /* background-color: #1A1D24; */

    color: #FFFFFF;

    box-shadow: 
        inset 0 0 5px 2px rgba(255, 255, 255, 0.15),
        inset 0 3px 8px rgba(255, 255, 255, 0.15);
}


.dialog-header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 100%;
}


.dialog-header-bottom-badges-container {
    display: flex;

    gap: 10px;

    margin-bottom: 12px;
}


.dialog-img {
    object-fit: contain;

    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.5));

    width: 130px;
    height: 130px;
}


/* Dialog main */

.dialog-main-container {
    overflow-y: auto;
    flex-grow: 1;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    padding: 16px;
}


.dialog-main-container::-webkit-scrollbar {
    width: 7px;
}


.dialog-main-container::-webkit-scrollbar-track {
    background: #11141A;
    background-clip: padding-box;

    border-top: 30px solid transparent;
    
    border-radius: 0 10px 10px 0;
}


.dialog-main-container::-webkit-scrollbar-thumb {
    background-color: #2D3748;
    background-clip: padding-box;
    
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-radius: 10px;
}


.dialog-main-container::-webkit-scrollbar-thumb:hover {
    background-color: #4A5568;
}


.dialog-tab-nav {
    display: flex;
    justify-content: space-between;

    border-bottom: 2px solid #1A1D24;

    /* margin-bottom: 20px; */
}


.dialog-tab-button {
    /* Original bisher: */
    /* background: none;

    position: relative;

    color: #8A90A5;
    font-size: 0.85rem;
    font-weight: 700;
    text-align: center;

    border: none;
    border-radius: 8px;

    flex: 1;

    transition: all 0.3s ease;

    cursor: pointer;

    padding: 12px 4px; */



    /* Neu: */

    position: relative;

    background: none;

    color: #8A90A5;
    font-size: 0.85rem;
    font-weight: 700;
    font-family: inherit;
    letter-spacing: 0.5px;
    text-align: center;

    border: none;
    outline: none;

    flex: 1;

    cursor: pointer;

    transition: color 0.3s ease-in-out;

    padding: 12px 4px;
}


.dialog-tab-button:hover:not(.active) {
    /* background-color: #1A1D24;

    color: #FFFFFF;

    box-shadow: 
        inset 0 0 5px 2px rgba(255, 255, 255, 0.15),
        inset 0 3px 8px rgba(255, 255, 255, 0.15); */

    
    /* Neu: */
    color: #E2E8F0;
}


.dialog-tab-button.active {
    /* background-color: #242933;
    
    color: #FFFFFF;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); */

    color: #FFFFFF;
}


.dialog-tab-button.active::after {
    position: absolute;

    background-color: #558C33;
    border-radius: 3px 3px 0 0;

    content: "";

    left: 0;
    bottom: -2px;

    width: 100%;
    height: 3px;
}


.dialog-tab-content {
    font-family: 'Segoe UI', Roboto, sans-serif;
    line-height: 1.6;

    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #2D3748 #11141A;

    padding-right: 8px;
    margin-bottom: 20px;
}


.dialog-tab-content.hidden {
    display: none;
}


.dialog-about-list {
    display: grid;
    grid-template-columns: 100px, 1fr;
    row-gap: 12px;
    column-gap: 8px;

    /* width: 100%;
    padding: 0;
    margin: 0 0 20px 0; */
}


.dialog-about-list dt {
    color: #718096;
    font-size: 0.85rem;
    font-weight: 500;

    grid-column: 1;
}


.dialog-about-list dd {
    color: #F5F6F8;
    font-size: 0.85rem;
    font-weight: 700;

    grid-column: 2;
}


/* .dialog-about-list dt,
.dialog-about-list dd {
    display: unset;
} */


.dialog-stats-list {
    display: grid;
    grid-template-columns: 100px 1fr;
    row-gap: 14px;
}


.dialog-stats-list dt {
    align-self: center;

    color: #718096;
    font-size: 0.85rem;
    font-weight: 500;

    grid-column: 1;
}


.dialog-stats-list dd {
    display: flex;
    align-items: center;

    gap: 8px;

    grid-column: 2;

    margin: 0;
}


.dialog-stat-value {
    color: #F5F6F8;
    font-size: 0.85rem;
    font-weight: 700;
    text-align: center;

    width: 30px;
}


.dialog-stat-bar-container {
    background-color: #1A1D24;

    border: 1px solid #2D3748;
    border-radius: 10px;

    overflow: hidden;

    flex-grow: 1;

    height: 7px;
}


.dialog-stat-bar {
    background-color: green;

    border-radius: 10px;

    transition: width 0.3s ease-in-out;

    height: 100%;
}


.dialog-stat-line {
    background-color: #2D3748;
    
    grid-column: 1 / -1;

    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}


.dialog-stat-total-label {
    color: #A0AEC0;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}


.dialog-stat-total-value {
    color: #F6AD55;
    font-size: 1rem;
    font-weight: 800;
    text-align: right;

    width: 30px;
}


.dialog-stat-total-line {
    background-color: #2D3748;

    flex-grow: 1;

    height: 1px;
}


.hidden-ability {
    background: #1A1D24;

    color: #A0AEC0;
    font-size: 0.75rem;
    font-weight: 400;

    border: 1px solid #2D3748;
    border-radius: 4px;

    padding: 1px 6px;
}


/* Dialog footer */

.dialog-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: #11141A;

    border: none;

    gap: 16px;

    padding: 12px 16px;
}


.dialog-nav-button {
    /* Original bisher: */
    /* background-color: #242933;

    color: #F5F6F8;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;

    border: 1px solid #3A3F4D;
    border-radius: 8px;

    flex: 1;

    transition: background-color 0.2s, all 0.3s ease;

    cursor: pointer;

    padding: 5px; */


    /* Neu: */
    display: flex;
    align-items: center;

    background-color: rgba(26, 29, 36, 0.5);

    color: #E0E0E0;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 1px;

    border: 1px solid rgba(255, 255, 255, 0.08);
    border-radius: 20px;

    cursor: pointer;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    transition: all 0.3s ease;

    gap: 8px;

    padding: 10px 20px;
}


.dialog-nav-button span {
    font-size: 1.2rem;
}


.dialog-nav-button:hover {
    background-color: #1A1D24;

    color: #FFFFFF;

    box-shadow: 
        inset 0 0 5px 2px rgba(255, 255, 255, 0.15),
        inset 0 3px 8px rgba(255, 255, 255, 0.15);
}